{
  "Version" : "2012-10-17",
  "Statement" : [
    {
      "Sid" : "BitbucketOIDCAccess",
      "Effect" : "Allow",
      "Principal" : {
        "AWS" : "*"
      },
      "Action" : "sts:AssumeRole",
      "Condition" : {
        "StringLike" : {
          "aws:PrincipalARN" : ${account_arns}
        },
        "StringEquals" : {
          "aws:PrincipalAccount" : ${account_ids}
        }
      }
    }
  ]
}